<%- model_class = Article -%>
<div class="page-header">
  <h2><%= @article.title %></h2>
 

</div>
  <h5><%= @article.categories.map { |category| link_to category.name, category_path(category.id)}.join(', ').html_safe %></h5>
<div class="form-actions">
  <div class="panel-body">
  
  <dd><p><%= @article.created_at.strftime('%b %d, %Y') %></P> </dd>
  </div>
</div>
<dl class="dl-vertical">
 

  <dd><%= @article.content %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
